body {
  background: #131316;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  color: #4a90e2;
  margin: 1.5rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p,
ul {
  line-height: 1.8;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 1rem;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.about-section {
  padding-top: 80px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #1e1e24;
  padding: 20px;
  border-radius: 8px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}
